
body {
  font-size: 10pt;
  font-family: helvetica, sans-serif;
}

#everything {
  max-width:1000px;
  margin:0px auto;
  border:1px solid #eee;
}


#nav {

}

#nav ul {
  list-style: none;
  margin:0px;
  padding:0px;
}

#nav ul li {
  display: inline-block;
  width:80px;
  margin:0px;
  padding:0px 1em;
  border-bottom:1px solid #aaa;
}


#highlight_home #home_tab {  background-color:#eee; border-bottom:1px solid #eee;}
#highlight_gallery #gallery_tab {  background-color:#eee; border-bottom:1px solid #eee;}
#highlight_news #news_tab {  background-color:#eee; border-bottom:1px solid #eee;}
#highlight_contact #contact_tab {  background-color:#eee; border-bottom:1px solid #eee;}


#nav ul li a { text-decoration: none; width:100%; display:inline-block; padding:0px;}
#nav ul li:hover {  background-color:#aaa; }

#nav h1 {margin:0px; padding:1em;background-color:#eee;}


#content {
  text-align:right;
  padding-top:5em;
}

#content a {
  color:#666;
}



#footer {
  color:#ccc;
  clear:both;
  text-align:center;
}
#footer a {
  color:#ccc;
  text-decoration:none;
}

#footer ul {
  list-style:none;
}
#footer ul li {
  display:inline;
  padding:0px 30px;
}







#debug {
  margin-top:10em;
  color:gray;
}
