
body {
  font-size: 10pt;
  font-family: calibri, helvetica, sans-serif;
}

#everything {
  max-width:630px;
  margin:0px auto;
  
}


#nav {

}

#nav ul {
  list-style: none;
  margin:0px;
  padding:0px;
}

#nav ul li {
  display: inline-block;
  width:60px;
  margin:0px;
  padding:0px 1em;
  border-bottom:1px solid #aaa;
}



#highlight_home #home_tab {  background-color:#fff; border-bottom:1px solid #eee;}
#highlight_gallery #gallery_tab {  background-color:#fff; border-bottom:1px solid #eee;}
#highlight_news #news_tab {  background-color:#fff; border-bottom:1px solid #eee;}
#highlight_video #news_tab {  background-color:#fff; border-bottom:1px solid #eee;}
#highlight_audio #news_tab {  background-color:#fff; border-bottom:1px solid #eee;}
#highlight_contact #contact_tab {  background-color:#fff; border-bottom:1px solid #eee;}


#nav ul li a { text-decoration: none; width:100%; display:inline-block; padding:0px;}
#nav ul li:hover {  background-color:#aaa; }

#header {
  border:1px solid #eee;
  border-bottom:none
}
#header h1 {padding:1em 1em 0em; margin:0px;}


#main {
  border-left:1px solid #eee;
  border-right:1px solid #eee;
}


#content {
  padding:1em;
  padding-top:3em;
  
  
}

#content a {
  color:#666;
}



#footer {
	
  color:#ddd;
  clear:both;
  text-align:center;
  background-image:url("/images/marble_bar.jpg");
  background-position: center top;
  background-repeat:no-repeat;
  padding-top:28px;
  
  
}
#footer a {
  color:#ddd;
  text-decoration:none;
}

#footer ul {
  list-style:none;
  margin-top:0px;
}
#footer ul li {
  display:inline;
  padding:0px 30px;
}




dd {
	margin-left:3em;
	
}

dt {
	font-weight:bold;
	margin-left:0em;
}




#debug {
  margin-top:10em;
  color:gray;
}
