
<div id="content">




<h2 class="clear">Film &amp; TV</h2>
  <table class="cv_box">
    <tr><td>Soho Cigarette</td><td>Kingsborough Film</td><td>Jon Fairbaim</td></tr>
    <tr><td>How we Invented the World</td><td>Nutopia for Discovery Channel</td><td>Simon George</td></tr>
    <tr><td>Eastenders</td><td>BBC</td><td>Michael Owen Morris</td></tr>
    <tr><td>Skyfall</td><td>Eon & MGM</td><td>Sam Mendes</td></tr>
    <tr><td>The Third Falcon</td><td>Palm Tree Films</td><td>Robert Moffat</td></tr>
    <tr><td>Doctors ‘Pulp Friction’</td><td>BBC</td><td>Niall Fraser</td></tr>
    <tr><td>Emmerdale</td><td>ITV Yorkshire</td><td>Tim O'Mara</td></tr>
    <tr><td>Emergency Rescue</td><td>Talkback Thames</td><td>Terry Illand</td></tr>
    <tr><td>Running for River</td><td>Directional Studios</td><td>Angus Jackson</td></tr>
    <tr><td>Dick And Dom In Da Bungalow</td><td>BBC</td><td>Simon Hepworth</td></tr>
    <tr><td>Anti Bullying Campaign</td><td>Hungryman Films</td><td>Paul Gay</td></tr>
    <tr><td>Film For Free</td><td>RSA Films</td><td>Kevin Spacey</td></tr>
    <tr><td>Domestic Sentences</td><td>Rogue Films</td><td>Sam Cadman</td></tr>


    <tr><td>Big School</td><td>BBC</td><td>Tony Dow</td></tr>
    <tr><td>The Christmas Candle</td><td>Pinewood</td><td>John Stephenson</td></tr>
    <tr><td>Top Boy 2</td><td>Ch 4</td><td>Jonathan Van Tulleken</td></tr>

    
  </table>

<h2 class="clear">Theatre</h2>
  <table class="cv_box">
    <tr><td>Office Christmas Party</td><td>Hull Truck</td><td>Neil Sissons /John Godber</td></tr>
    <tr><td>The Company Man</td><td>Orange Tree</td><td>Adam Barnard</td></tr>
    <tr><td>The School For Scandal/Faustus</td><td>Greenwich Theatre</td><td>Elizabeth Freestone</td></tr>
    <tr><td>About Tommy</td><td>Southwark Playhouse</td><td>Elly Green</td></tr>
    <tr><td>Hippolytus</td><td>Riverside Studios</td><td>Mike Tweddle</td></tr>
    <tr><td>Burial At Thebes</td><td>Nottingham Playhouse & US</td><td>Lucy Pittman-Wallace</td></tr>
    <tr><td>Improbable Fiction</td><td>Stephen Joseph</td><td>Alan Ayckbourn</td></tr>
    
  </table>


<h2>Other</h2>
  <table class="cv_box">
    <tr><td>Night of Terror (Voice Over)</td><td>World Media Rights</td><td>Jonathan Elliott</td></tr>
    <tr><td>George Michael Music Video <a href="http://www.youtube.com/watch?v=SRAOG-BpNOw">White Light</a></td><td>Blink productions</td><td>Ryan Hope</td></tr>
    <tr><td><a href="http://www.youtube.com/watch?v=lE-DOISzue0">Under Offer</a></td><td>Real Impact productions</td><td>Lee Hellier/Frank Tamburin</td></tr>

    
  </table>

<h2>Skills</h2>

  <p>Full Driving License, Flute, Rock climbing</p>


<h2>Accents</h2>
  <p>R.P, Irish, American- Standard, Belfast, Birmingham, Cockney, Northern, Somerset, Russian, Australian</p>


<h2>Alternative CVs</h2>

	<table class="biog_box">
	  <tr><td><a href="http://www.spotlight.com/interactive/cv/839590815380">Spotlight</a></td>
	  <td><a href="http://www.uk.castingcallpro.com/view.php?uid=82501">Casting Call Pro</a></td>
	  <td><a href="http://www.imdb.com/name/nm3591758/">IMDB</a></td></tr>
	</table>
</div>

