
<div id="content">


<h2>CV</h2>

<ul>
  <li><a href="http://www.spotlight.com/interactive/cv/839590815380">Spotlight: Beatrice Curnew</a></li>
  <li><a href="http://www.uk.castingcallpro.com/view.php?uid=82501">Casting Call Pro: Beatrice Curnew</a></li>
  <li><a href="http://www.imdb.com/name/nm3591758/">IMDB: Beatrice Curnew</a></li>
</ul>


<h2>Biography</h2>

<p>After completing my BA in Drama at Exeter University and deciding not to become a Probation Officer, I did a post grad at Mountview Academy.</p>
 
<p>Since graduating my theatre credits include <em>Christmas Office Party</em> (Hull Truck), <em>The Company Man </em>(Orange Tree), <em>The Black Veil </em>(National Tour), <em>Dr Faustus </em>and <em>The School for Scandal </em>(Greenwich Theatre, DVD's of the production are available via <a href="http://www.stageonscreen.com" target="_blank">www.stageonscreen.com</a>), <em>About Tommy </em>(Southwark Playhouse), <em>Hippolytus</em> (Riverside Studios, Tour), <em>Waiting for Romeo </em>(The Pleasance), <em>Burial At Thebes </em>(Nottingham Playhouse/US Tour/ The Rose, Kingston), <em>Out of Chaos </em>(Sophiensaele, Berlin and winner of the 'Audience Award'), <em>Friends Uninvited </em>(Esk Valley), <em>Ladies In Retirement </em>(National Tour), <em>The Madras House</em> (Orange Tree), <em>Improbable Fiction</em>, (Stephen Joseph),<em> Jump </em>(24 Hour Plays, Old Vic), <em>Veronika Sessions </em>(Arcola), <em>Scenes From a Separation</em> (Orange Tree), <em>The Importance of Being Earnest </em>(National Tour), <em>Cyrano De Bergerac </em>(Minack Theatre), <em>The Principle Of Motion </em>(Edinburgh, Underbelly), <em>Platform on Shakespeares Language </em>(National Theatre).</p>
 
<p>My Television and Film credits include <em>Emmerdale </em>(ITV), <em>Emergency Rescue</em> (Talkback Thames), <em>Glamour </em>(LWT), <em>Dick and Dom in da Bungalow</em> (BBC), <em>Seema=Boundary </em>(Central Film School), <em>Running for River </em>(Directional Studios), <em>Paranoia</em> and <em>Art</em> (NY Film School).</p>
 
<p>I have recorded various corporate videos and commercials working for the likes of Maritime Crew Resource Management, BP, The Wright Stuff, Film Four, Government anti bullying campaign, ebay and London Tourism.</p>
 
<p>I have been involved with lots of rehearsed readings and development projects at theatres and with companies such as The Old Vic, Theatre 503, The Young Vic, The Orange Tree, The Barbican, Hampstead Theatre, Old Red Lion, King's Head, The Miniaturists, Temple Theatre, Brother Tongue, Sputnick, The Apathists and The Caird Company.</p>
 
<p>I am part of <a href="http://www.companyproject.co.uk">The Company Project</a> and <a href="http://www.squatcollective.com">The Squat Collective</a> and am one third of a comedy writing trio 'Vino Collapso'.</p>
</div>

