
<div id="content">


<table class="biog_box">
  <tr><th>Height</th><td>5'6"</td></tr>
  <tr><th>Height</th><td>5'6"</td></tr>
  <tr><th>Height</th><td>5'6"</td></tr>
  <tr><th>Height</th><td>5'6"</td></tr>
  <tr><th>Height</th><td>5'6"</td></tr>
  <tr><th>Height</th><td>5'6"</td></tr>
</table>

<table class="biog_box">
  <tr><th>Address</th><td>5'6"</td></tr>
  <tr><th>Tel</th><td>5'6"</td></tr>
  <tr><th>Email</th><td>curnew@hotmail.com</td></tr>
  <tr><th>Spotlight PIN</th><td><a href="http://www.spotlight.com/interactive/cv/839590815380">8395 9081 5380</a></td></tr>
  <tr><th>Casting Call Pro</th><td><a href="http://www.spotlight.com/interactive/cv/839590815380"><a href="http://www.uk.castingcallpro.com/view.php?uid=82501">Beatrice Curnew</a></a></td></tr>
</table>



<h2 class="clear">Film &amp; TV</h2>
  <table class="cv_box">
    <tr><td>Doctors ‘Pulp Friction’</td><td>BBC</td><td>Niall Fraser</td></tr>
    <tr><td>Doctors ‘Pulp Friction’</td><td>BBC</td><td>Niall Fraser</td></tr>
    <tr><td>Doctors ‘Pulp Friction’</td><td>BBC</td><td>Niall Fraser</td></tr>
    <tr><td>Doctors ‘Pulp Friction’</td><td>BBC</td><td>Niall Fraser</td></tr>
    <tr><td>Doctors ‘Pulp Friction’</td><td>BBC</td><td>Niall Fraser</td></tr>
    
  </table>

<h2 class="clear">Theatre</h2>
  <table class="cv_box">
    <tr><td>Doctors ‘Pulp Friction’</td><td>BBC</td><td>Niall Fraser</td></tr>
    <tr><td>Doctors ‘Pulp Friction’</td><td>BBC</td><td>Niall Fraser</td></tr>
    <tr><td>Doctors ‘Pulp Friction’</td><td>BBC</td><td>Niall Fraser</td></tr>
    <tr><td>Doctors ‘Pulp Friction’</td><td>BBC</td><td>Niall Fraser</td></tr>
    <tr><td>Doctors ‘Pulp Friction’</td><td>BBC</td><td>Niall Fraser</td></tr>
    
  </table>


</div>

