
<div id="content">


<h2>CV</h2>

<ul>
  <li><a href="http://www.spotlight.com/interactive/cv/839590815380">Spotlight: Beatrice Curnew</a></li>
  <li><a href="http://www.uk.castingcallpro.com/view.php?uid=82501">Casting Call Pro: Beatrice Curnew</a></li>
  <li><a href="http://www.imdb.com/name/nm3591758/">IMDB: Beatrice Curnew</a></li>
</ul>


<h2>Biography</h2>

<p>After completing my BA in Drama at Exeter University, I did a post grad at Mountview Academy. During my training I got my first professional gig performing with Fiona Shaw at the National in a platform on Shakespeares language. I was also shortlisted for the RSC Graduate Academy.</p>

<p>Since graduating my theatre credits include The Company Man (Orange Tree), The Black Veil (National Tour), Dr Faustus and The School for Scandal (Greenwich Theatre, DVD's of the production are available via <a href="http://www.stageonscreen.com">www.stageonscreen.com</a>, About Tommy (Southwark Playhouse), Hippolytus (Riverside Studios, Tour), Waiting for Romeo (The Pleasance), Burial At Thebes (Nottingham Playhouse/US Tour/ The Rose, Kingston), Out of Chaos (Sophiensaele, Berlin), Friends Uninvited (Esk Valley), Ladies In Retirement (National Tour), The Madras House (Orange Tree), Improbable Fiction, (Stephen Joseph), Jump (24 Hour Plays, Old Vic), Veronika Sessions (Arcola), Scenes From a Separation (Orange Tree), The Importance of Being Earnest (National Tour), Cyrano De Bergerac (Minack Theatre), The Principle Of Motion (Edinburgh, Underbelly).</p>

<p>My Television and Film credits include Emmerdale (ITV), Emergency Rescue (Talkback Thames), Glamour (LWT), Dick and Dom in da Bungalow (BBC), Seema=Boundary (Central Film School), Running for River (Directional Studios), Paranoia and Art (NY Film School).</p>

<p>I have recorded various corporate videos and commercials including Maritime Crew Resource Management, BP Reliability work Cycle, The Wright stuff, film four, government anti bullying campaign, ebay and london tourism.</p>

<p>I have been involved with lots of rehearsed readings and development projects at theatres and with companies such as the Old Vic, Theatre 503, The Young Vic, The Orange Tree, The Barbican, Hampstead Theatre, Old Red Lion, King's Head,  <a href="http://www.miniaturists.co.uk">the miniaturists</a>, <a href="http://www.templetheatre.co.uk">Temple Theatre</a>), <a href="http://www.brothertongue.co.uk">Brother Tongue </a>, <a href="http://www.sputniktheatre.co.uk">Sputnick</a>, The Apathists and The Caird Company.</p>

<p>I am part of <a href="http://www.companyproject.co.uk">The Company Project</a> and <a href="http://www.squatcollective.com">The Squat Collective</a> and am one third of a comedy writing trio 'Vino Collapso'.</p>

</div>

