
<div id="content">


<h2>Biography</h2>

<p>Beatrice will play Cathy in Torben Betts play 'The Company Man' at The Orange Tree Theatre, directed by Adam Barnard, running Oct 6th to Nov 6th 2010 www.orangetreetheatre.co.uk Beatrice can currently be seen in a promo for The Wright Stuff on Channel Five. The School for Scandal and Dr Faustus are now available on DVD through www.stageonscreen.</p>


<h2>CV</h2>

<ul>
  <li><a href="http://www.spotlight.com/interactive/cv/839590815380">Spotlight: Beatrice Curnew</a></li>
  <li><a href="http://www.uk.castingcallpro.com/view.php?uid=82501">Casting Call Pro: Beatrice Curnew</a></li>
  <li><a href="http://www.imdb.com/name/nm3591758/">IMDB: Beatrice Curnew</a></li>
</ul>
</div>

