

<div id="content">

<img style="float:right" src="/images/polaroid2.png">

<p>
 <strong>Agent: </strong><a href="www.phpm.co.uk">Philippa Howell</a> <br/>
 <strong>Email: </strong><a href="mailto:philippa@phpm.co.uk">philippa@phpm.co.uk</a><br/>
 <strong>Phone: </strong><a href="tel:02078362837">0207 836 2837</a><br/>
 <strong>Personal Email: </strong><a href="mailto:curnew@hotmail.com">curnew@hotmail.com</a><br/>
 <br/><br/><br/><br/><br/>
</p>



<ul class="social_icons">
  <li><a href="http://facebook.com/BeatriceCurnew"><span  class=cov-fb></span>Find me on facebook</a></li>
  <li><a href="http://twitter.com/BeatriceCurnew"><span class=cov-twit></span>Follow me on twitter</a></li>
</ul>

<div style="text-align:left; margin-top:5em;">
  <a href="http://www.equity.org.uk/" ><%= image_tag "logos/The Actors Union.jpg", :width=>"120px" %></a>
</div>
</div>
