

<div id="content">

<img style="float:right" src="/images/polaroid2.png">


<p>My agent's details are:</p>

<p>
<strong>Philippa Howell </strong><br/>
Philippa Howell Personal Management<br/>
 <strong>a: </strong>405 The Strand, London WC2R 0NE<br/>
 <strong>m: </strong><a href="tel:07790969024">07790 969024</a><br/>
 <strong>t: </strong><a href="tel:02078362837">0207 836 2837</a><br/>
 <strong>e: </strong><a href="mailto:philippa@phpm.co.uk">philippa@phpm.co.uk</a><br/>
 <strong>w: </strong><a href="www.phpm.co.uk">www.phpm.co.uk</a>
 <br/><br/><br/><br/><br/>
</p>





<p>To contact me directly, email <a href="mailto:curnew@hotmail.com">curnew@hotmail.com</a>
</p>


<ul class="social_icons">
  <li><a href="http://facebook.com/BeatriceCurnew"><span  class=cov-fb></span>Find me on facebook</a></li>
  <li><a href="http://twitter.com/BeatriceCurnew"><span class=cov-twit></span>Follow me on twitter</a></li>
</ul>

<div style="text-align:left; margin-top:5em;">
  <a href="http://www.equity.org.uk/" ><%= image_tag "logos/The Actors Union.jpg", :width=>"120px" %></a>
</div>
</div>
