

<div id="content">

<p>For all enquiries, please contact <a href="mailto:Philippa@phpm.co.uk">Philippa Howell</a></p>

<p>
Philippa Howell Personal Management<br/>
 <strong>a: </strong>405 The Strand, London WC2R 0NE<br/>
 <strong>m: </strong><a href="tel:07790969024">07790 969024</a><br/>
 <strong>e: </strong><a href="mailto:philippa@phpm.co.uk">philippa@phpm.co.uk</a><br/>
 <strong>w: </strong><a href="www.phpm.co.uk">www.phpm.co.uk</a>
</p>

<p>For anything that isn't an enquiry but you think is cool, tweet something to <a href="https://twitter.com/?status=%40BeatriceCurnew">BeatriceCurnew</a></p>


<div style="text-align:right">
  <%= image_tag "logos/The Actors Union.jpg", :width=>"120px" %>
</div>
</div>