

<div id="content">

<img class="headshot" style="float:right" src="/images/headshots/Beatrice-Curnew-Strawberry-to-mouth.jpg" width="240px">

<p>
 <strong>Agent: </strong>Zo&euml; Nathenson <br/>
 <strong>Email: </strong><a href="mailto:zoe.act@btinternet.com">zoe.act@btinternet.com</a><br/>
 <strong>Phone: </strong><a href="tel:02088837554">0208 883 7554</a><br/>
 <strong>Mobile: </strong><a href="tel:07956833850">07956 833 850</a><br/><br/><br/>
 <strong>Personal Email: </strong><a href="mailto:curnew@hotmail.com">curnew@hotmail.com</a><br/>
 <br/><br/><br/><br/><br/>
</p>



<ul class="social_icons">
  <li><a href="http://facebook.com/BeatriceCurnew"><span  class=cov-fb></span>Find me on facebook</a></li>
  <li><a href="http://twitter.com/BeatriceCurnew"><span class=cov-twit></span>Follow me on twitter</a></li>
</ul>

<div style="text-align:left; margin-top:5em;">
  <a href="http://www.equity.org.uk/" ><%= image_tag "logos/The Actors Union.jpg", :width=>"120px" %></a><br />
  <a href="http://www.wftv.org.uk/" ><%= image_tag "logos/wftv_logo.png", :width=>"120px" %></a><br />
  <a href="http://www.ttg.org.uk/" ><%= image_tag "logos/ttg_logo.gif", :width=>"120px" %></a>
</div>
</div>
