<div id="content">

<%= image_tag "headshots/Beatrice-Curnew-Strawberry-to-mouth.jpg", :alt=>"Beatrice Curnew", :class=>"headshot", :style=>"float:right", :width=>"200px" %>

<dl>
 <dt>Agent: </dt> <dd>Zo&euml; Nathenson </dd>
 <dt>Email: </dt> <dd><a href="mailto:zoe.act@btinternet.com">zoe.act@btinternet.com</a></dd>
 <dt>Phone: </dt> <dd><a href="tel:02088837554">0208 883 7554</a></dd>
 <dt>Mobile: </dt> <dd><a href="tel:07956833850">07956 833 850</a></dd>
 <dt>Personal Email: </dt> <dd><a href="mailto:curnew@hotmail.com">curnew@hotmail.com</a></dd>
</dl>

<br></br>

<ul class="social_icons">
<!--   <li><a href="http://facebook.com/BeatriceCurnew"><span  class=cov-fb></span>Find me on facebook</a></li> -->
  <li><a href="http://twitter.com/BeatriceCurnew"><span class=cov-twit></span>Follow me on twitter</a></li>
</ul>

<div class="associations">
  <a href="http://www.equity.org.uk/" ><%= image_tag "logos/TheActorsUnion.jpg", :width=>"120" %></a>
  <a href="http://www.ttg.org.uk/" ><%= image_tag "logos/ttg_logo.gif", :width=>"120" %></a>
  <a href="http://www.wftv.org.uk/" ><%= image_tag "logos/wftv_logo.png", :width=>"120" %></a>
</div>
</div>
