


<div id="content">


<h2>Headshots</h2>


<script type="text/javascript">
$(function() {

	$('#gallery li a').lightBox(); // Select all links in object with gallery ID

});
</script>


<ul id="gallery">
<% 
   @images.sort.each do |i| %>
    <li><%=   (link_to image_tag("headshots/t/" + i[0] + ".jpg"), "/images/headshots/" + i[0] + ".jpg")  %></li>
<% end %>
</ul>





</div>