
<center>
<img class="headshot" style="margin-top:3em;" src="/images/headshots/beatrice_curnew_1.jpg" width="300px">
</center>
<div id="content" style="text-align:left; padding-top:1em; ">
  <p>Beatrice is currently filming <em>Skyfall</em>, the new Bond film with Sam
    Mendes and Judi Dench.</p>


  <p>For a recent example of Beatrice's work, please see <a href="http://www.youtube.com/watch?v=lE-DOISzue0">Under Offer</a></p>


  <p>Previous credits include <em>Doctors</em>, <em>Emmerdale</em>, <em>Dick and Dom in da Bungalow</em>, <em>Film
    for Free</em>, <em>Emergency Rescue</em>, work at Nottingham Playhouse, Riverside
    Studios, Southwark Playhouse, The Arcola, The Old Vic and numerous
    National tours. She has been fortunate enough to work with and learn
    from the likes of Julie Christie, Pete Postlewaite, Kevin Spacey,
    Diana Quick and John Godber.</p>
</div>
