
<center>
<img class="headshot" style="margin-top:3em;" src="/images/headshots/Beatrice-Curnew-2014-4.jpg" width="300px">
</center>
<div id="content" style="text-align:left; padding-top:1em; ">



</div>
