

<img style="float:right" src="/images/polaroid.png">

<div id="content" style="text-align:right;">
  

  
  <p>Inside this site you will find out all about me and my acting career.</p>

  <p>Please step in and have a look.</p>
  

  
  <p>For all enquiries, please contact <a href="mailto:Philippa@phpm.co.uk">Philippa Howell</a> on 07790 969024</p>
</div>
