      <img style="float:right" src="/images/polaroid.png">
      <div id="content">
        <h1>Beatrice Curnew</h1>
        
        <p><a href="http://www.uk.castingcallpro.com/view.php?uid=82501">Casting Call Pro</a></p>
        <p><a href="http://www.spotlight.com/interactive/cv/839590815380">Spotlight</a></p>
        
        <p>For all enquiries, please contact <a href="mailto:Philippa@phpm.co.uk">Philippa Howell</a> on 07790 969024</p>
      </div>
      