<% content_for :title do %>Beatrice Curnew: Actor, voiceover artist<% end %>

<div id="content" style="text-align:left; padding-top:1em; ">
	<center>
	<%= image_tag "headshots/Beatrice-Curnew-2014-4-small.jpg", :alt=>"Beatrice Curnew", :class=>"headshot index", :style=>"margin-top:3em" %>
	</center>
</div>
