
<center>
<img class="headshot" style="margin-top:3em;" src="/images/headshots/beatrice_curnew_1.jpg" width="300px">
</center>
<div id="content" style="text-align:left; padding-top:1em; ">
  <p>Beatrice can be seen in BBC Doctors in September and is currently
    filming a mock-documentary pilot with Vulture Culture.</p>


  <p>2010 saw Beatrice work with John Godber and Neil Sissons on Office Party
    at Hull Truck, with Isla Blair in The Company Man at the Orange Tree Theatre
    and complete two shorts to be released later this year.</p>


  <p>Previous credits include Emmerdale, Dic and Dom in da Bungalow, Film
    for Free, Emergency Rescue, work at Nottingham Playhouse, Riverside
    Studios, Southwark Playhouse, The Arcola, The Old Vic and numerous
    National tours. She has been fortunate enough to work with and learn
    from the likes of Julie Christie, Pete Postlewaite, Kevin Spacey and
    Diana Quick.</p>
</div>
