
<center>
<img class="headshot" style="margin-top:3em;" src="/images/headshots/beatrice_curnew_1.jpg" width="300px">
</center>
<div id="content" style="text-align:left; padding-top:1em; ">
  


  <p>Welcome, and thank you for visiting</p>


  <p>Look out for Beatrice in <a href="http://www.youtube.com/watch?v=vgr2syY_OU4">James Bond Skyfall</a> in Autumn 2012</p>
</div>
