
<center>
<img class="headshot" style="margin-top:3em;" src="/images/headshots/beatrice_curnew_1.jpg" width="300px">
</center>
<div id="content" style="text-align:left; padding-top:1em; ">
  <p>Beatrice can be seen in <em>BBC Doctors</em> in September and is currently
    filming a mock-documentary pilot with <em>Vulture Culture</em>.</p>


  <p>'Recently she has worked with John Godber and Neil Sissons on <em>Office Party</em>
    at Hull Truck, with Isla Blair in <em>The Company Man</em> at the Orange Tree Theatre
    and complete two shorts to be released later this year.</p>


  <p>Previous credits include <em>Emmerdale</em>, <em>Dick and Dom in da Bungalow</em>, <em>Film
    for Free</em>, <em>Emergency Rescue</em>, work at Nottingham Playhouse, Riverside
    Studios, Southwark Playhouse, The Arcola, The Old Vic and numerous
    National tours. She has been fortunate enough to work with and learn
    from the likes of Julie Christie, Pete Postlewaite, Kevin Spacey and
    Diana Quick.</p>
</div>
