

<img style="float:right" src="/images/beatrice_curnew_1.jpg">

<div id="content" style="text-align:right; padding-top:12em; ">
  <p>
    Welcome to my website. I am an actress and here you can view what I have been up to and how to be in touch. 
  </p>
  <p>
    You can catch me in BBC Doctors on 9th September at 1:45pm playing a controlling, abusive lesbian!
  </p>
  
  <p>Thank you for visiting.</p>
</div>
