

<img style="float:right" src="/images/polaroid.png">

<div id="content" style="text-align:right; padding-top:12em; ">
  <p>Hello.  I am an actress.  I work in theatre, film and television.  In this site you will find out about my career so far, future projects and how to get in touch.  Thank you for visiting.</p>
</div>
