

<img style="float:right" src="/images/polaroid.png">

<div id="content" style="text-align:right; padding-top:12em; ">
  <p>Hello.  I am an actress.  I work in theatre, film and television.  In this site you will find out about my career so far, current projects and how to get in touch.</p>
  
  <p>I can be seen in <em>The Company Man</em> by <a href="http://torbenbetts.com/">Torben Betts</a> at <a href="http://www.orangetreetheatre.co.uk/">The Orange Tree Theatre</a>, running October 6th to November 6th 2010.</p>
  
  <p>Thank you for visiting.</p>
</div>
