
<div id="content">

<h2>News</h2>


<dl>


<dt>6 September  2010:</dt><dd> Rehearsals begin for The Company Man at the Orange Tree. Amazing cast: Isla Blair, Bruce Alexander, Jack Sandle and Nicholas Lumley. Adam Barnard directs. <a href="http://www.orangetreetheatre.co.uk">www.orangetreetheatre.co.uk</a></dd>
<dt>1 August  2010:</dt><dd> Meetings with presenter Di Stewart and actress Natasha Powell regarding our new sketch show which is itching to be filmed. So exciting. </dd>
<dt>30 July  2010:</dt><dd> Inspiring workshop at The Young Vic with K Yoland. The piece explores Western popular culture and the invasion of Iraq. The performance uses entertainment, news, music, screenplays and TV content. Watch this space - fingers crossed for the future of this project.</dd>
<dt>28 June  2010:</dt><dd> In Southampton filming a corporate for The Oxford Aviation Academy. Second time I have played an engineer in a corporate.... my calling....? Super cast (John Burton and Moey Hassan) and hilarious crew. Great job.</dd>
<dt>27 June  2010:</dt><dd> Performing a very black and funny monologue which Charlie Covell has written for me as part of The Company Project. I have a good feeling about this project. <a href="http://www.companyproject.co.uk">www.companyproject.co.uk</a></dd>
<dt>19 June  2010:</dt><dd> Performing How The Vote Was Won at The Orange Tree, directed by the glorious Imogen Bond. Great response to a super and relevant play. Do visit <a href="http://www.suffragette.org.uk">www.suffragette.org.uk</a></dd>
<dt>15 June  2010:</dt><dd> Exciting meeting with Malcolm Johnson about a potential film. Fingers crossed. </dd>
<dt>8 June  2010:</dt><dd> A beautiful and fitting send off for the wondrous Sir Peter Teasle. Jonathan Battersby will be greatly missed.</dd>
<dt>8 May  2010:</dt><dd> The final night of The Black Veil. Back to the big smoke.</dd>
<dt>5 May  2010:</dt><dd> Super review for The Black Veil, apparantly we are all marvelous. </dd>
<dt>31 March  2010:</dt><dd> The Black Veil has opened! What a menage a trois we are - James Alexandrou, Andrew Ryan and I. What a thrilling tour it will be. I hope we have done Charles Dickens proud.</dd>
<dt>15 March  2010:</dt><dd> Performed rehearsed reading at Theatre 503. Great scratch night.</dd>
<dt>21 March  2010:</dt><dd> Performed a short play, March,SW3 by the great Lisa Parry, as part of The Miniaturists at the Arcola. Zoe Waterman directed. I hope Will Barton and I did them proud. They say never work with kids and animals. I have now tried kids and I loved it...?! <a href="http://www.miniaturists.co.uk">www.miniaturists.co.uk</a></dd>
<dt>30 Feb  2010:</dt><dd> Filmed a short with Esther Caszo, Seema=Boundary. Great cast, nice to shoot in central London.</dd>
<dt>9 Feb  2010:</dt><dd> Finally finished editing my now updated showreel with the help of the very patient Hywel Morgan.</dd>
<dt>30 Jan  2010:</dt><dd> Shot promo for The Wright Stuff. Brilliant days filming.</dd>
<dt>21 Jan  2010:</dt><dd> Developing/workshopping new scripts with the glorious Rachel Wagstaff and the brilliant Dan Herd.</dd>
<dt>10 Jan  2010:</dt><dd> Just watched DVD's of The School for Scandal and Dr Faustus in which I play Lady Teasle and Chorus, respectively. They are available at <a href="http://www.stageonscreen.com">www.stageonscreen.com</a></dd>



</dl>



</div>