
<div id="content">

<h2>News</h2>


<dl>

	
	<dt>14 September  2010:</dt><dd>Pilot episode of sketch show complete and in the broadcaster's hands.  Let our fingers be crossed...</dd><br/>
	<dt>6 September  2010:</dt><dd> Rehearsals begin for <em>The Company Man</em> at the Orange Tree. Amazing cast: Isla Blair, Bruce Alexander, Jack Sandle and Nicholas Lumley. Adam Barnard directs. <a href="http://www.orangetreetheatre.co.uk">www.orangetreetheatre.co.uk</a></dd><br/>
	<dt>3 September 2010:</dt><dd> Attended fantastic workshop with Actor Centre North - <a href="http://www.sarahpunshon.co.uk">Sarah Punshoni</a> and A Woman of No importance. We did some really super work.</dd><br/>
	<dt>1 August  2010:</dt><dd> Meetings with presenter Di Stewart and actress Natasha Powell regarding our new sketch show which is itching to be filmed. So exciting. </dd><br/>
	<dt>30 July  2010:</dt><dd> Inspiring workshop at The Young Vic with K Yoland. The piece explores Western popular culture and the invasion of Iraq. The performance uses entertainment, news, music, screenplays and TV content. Watch this space - fingers crossed for the future of this project.</dd><br/>
	<dt>28 June  2010:</dt><dd> In Southampton filming a corporate for The Oxford Aviation Academy. Second time I have played an engineer in a corporate.... my calling....? Super cast (John Burton and Moey Hassan) and hilarious crew. Great job.</dd><br/>
	<dt>27 June  2010:</dt><dd> Performing a very black and funny monologue which Charlie Covell has written for me as part of The Company Project. I have a good feeling about this project. <a href="http://www.companyproject.co.uk">www.companyproject.co.uk</a></dd><br/>
	<dt>19 June  2010:</dt><dd> Performing <em>How The Vote Was Won</em> at The Orange Tree, directed by the glorious Imogen Bond. Great response to a super and relevant play. Do visit <a href="http://www.suffragette.org.uk">www.suffragette.org.uk</a></dd><br/>
	<dt>15 June  2010:</dt><dd> Exciting meeting with Malcolm Johnson about a potential film. Fingers crossed. </dd><br/>
	<dt>8 June  2010:</dt><dd> A beautiful and fitting send off for the wondrous Sir Peter Teasle. Jonathan Battersby will be greatly missed.</dd><br/>
	<dt>8 May  2010:</dt><dd> The final night of <em>The Black Veil</em>. Back to the big smoke.</dd><br/>
	<dt>5 May  2010:</dt><dd> Super review for <em>The Black Veil</em>, apparantly we are all marvelous. </dd><br/>
	<dt>31 March  2010:</dt><dd> <em>The Black Veil</em> has opened! What a menage a trois we are - James Alexandrou, Andrew Ryan and I. What a thrilling tour it will be. I hope we have done Charles Dickens proud.</dd><br/>
	<dt>15 March  2010:</dt><dd> Performed rehearsed reading at Theatre 503. Great scratch night.</dd><br/>
	<dt>21 March  2010:</dt><dd> Performed a short play, <em>March,SW3</em> by the great Lisa Parry, as part of The Miniaturists at the Arcola. Zoe Waterman directed. I hope Will Barton and I did them proud. They say never work with kids and animals. I have now tried kids and I loved it...?! <a href="http://www.miniaturists.co.uk">www.miniaturists.co.uk</a></dd><br/>
	<dt>30 Feb  2010:</dt><dd> Filmed a short with Esther Caszo, <em>Seema=Boundary</em>. Great cast, nice to shoot in central London.</dd><br/>
	<dt>9 Feb  2010:</dt><dd> Finally finished editing my now updated showreel with the help of the very patient Hywel Morgan.</dd><br/>
	<dt>30 Jan  2010:</dt><dd> Shot promo for <em>The Wright Stuff</em>. Brilliant days filming.</dd><br/>
	<dt>21 Jan  2010:</dt><dd> Developing/workshopping new scripts with the glorious Rachel Wagstaff and the brilliant Dan Herd.</dd><br/>
	<dt>10 Jan  2010:</dt><dd> Just watched DVD's of <em>The School for Scandal</em> and <em>Dr Faustus </em>in which I play Lady Teasle and Chorus, respectively. They are available at <a href="http://www.stageonscreen.com">www.stageonscreen.com</a></dd><br/>
	


</dl>



</div>
